 <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/ianb.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Ian Bettison</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="~/home/index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-object-group"></i> <span>Trials</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/TrialFeasibility/Create"><i class="fa fa-plus"></i><span>Start Trial</span></a></li>
                    <li><a href="#"><i class="fa fa-plus"></i><span>Find a Trial</span></a></li>
                    <li><a href="/TrialFeasibility/"><i class="fa fa-plus"></i><span>Manage freasibility Trials</span></a></li>
                    <li><a href="/TrialType/"><i class="fa fa-plus"></i><span>Manage Trial Types</span></a></li>
                    <li><a href="/Phase/"><i class="fa fa-plus"></i><span>Manage Trial Phases</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-group"></i> <span>Contacts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Contacts/"><i class="fa fa-plus"></i><span>Add/edit a New Contact</span></a></li>
                    <li><a href="#">Browse</a></li>
                    <li><a href="#"><i class="fa fa-plus"></i><span>Add Contact type</span></a></li>
                    <li><a href="#"><i class="fa fa-plus"></i><span>Add Contact role</span></a></li>
                    <li><a href="/ContactStatus/"><i class="fa fa-plus"></i><span>Add Contact status</span></a></li>
                    <li><a href="/Contact/Delete"><i class="fa fa-plus"></i><span>Delete Contact</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar-plus-o"></i> <span>Reminders</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Add a New Reminder</a></li>
                    <li><a href="#">Search Reminders</a></li>
                    <li><a href="#">Amend Reminders</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Administration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Add New User</a></li>
                    <li><a href="#">Amend Status</a></li>
                    <li><a href="#">Amend Status</a></li>
                    <li><a href="#">Add Contact type</a></li>
                    <li><a href="#">Add Document type</a></li>
                </ul>
            </li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

